<h2>人员登记系统</h2>

<div class="people">
  <!-- 双向数据绑定在 form 里面 需要 name属性 -->
  <!-- []表示绑定属性 ()绑定事件 -->
  <form action="" onsubmit="return false">
    <ul>
      <li>
        姓名：<input type="text" [(ngModel)]="user.username" name="username" />
      </li>
      <li>
        性别：<input
          type="radio"
          value="1"
          [(ngModel)]="user.sex"
          name="sex"
        /><label for="男">男</label>
        <input type="radio" value="2" [(ngModel)]="user.sex" name="sex" /><label
          for="女"
          >女</label
        >
      </li>
      <li>
        城市：
        <select name="city" id="" [(ngModel)]="city">
          <option [value]="item" *ngFor="let item of cityList; let i = index">{{
            item
          }}</option>
        </select>
        {{ city }}
        {{ cityList | json }}
      </li>
    </ul>
    <button (click)="getsubmit()">获取表单内容</button>
    <br />
    {{ user | json }}
  </form>
</div>
