h2 {
  text-align: center;
}

ul {
  li {
    list-style: none;

    textarea {
      position: absolute;
      top: 1;
      bottom: -109px;
    }
  }
}

.people {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #eee;

  li {
    height: 50px;
    line-height: 50px;

    input[type="text"] {
      min-width: 300px;
      height: 40px;
      border-radius: 22px;
      border: 1px solid #ccc;
      text-indent: 10px;

      &:focus {
        outline: none;
        border: 1px solid rgb(68, 68, 68);
      }
    }

    // &::nth-of-type(4) {}
  }

  button {
    min-width: 100px;
    margin: 0 auto;
    display: inherit;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px 1px #b1b1b1;
    color: rgb(75, 75, 75);
    cursor: pointer;

    &:focus {
      outline: none;
      //   border: 1px solid rgb(68, 68, 68);
    }

    &:hover {
      border: 1px solid rgb(68, 68, 68);
      box-shadow: 0px 0px 0px 0px #b1b1b1;
    }
  }
}

.hobby {
  position: absolute;
  bottom: -69px;
  left: 0;
  // display: none;
  height: 40px;
}

.other {
  position: absolute;
  bottom: -142px;
}
